<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <meta name="description" content="">
    <meta name="author" content="">

    <title>FAKE</title>

    <link href="vendor/bootstrap/css/bootstrap.min.css" rel="stylesheet">
    <link rel="icon" href="fake_news_toliet_paper.png">
    <link href="css/portfolio-item.css" rel="stylesheet">

    <script src="//ajax.googleapis.com/ajax/libs/angularjs/1.2.19/angular.min.js"></script>     
    <script src="aangy.js"></script>
  </head>

  <body>

    <!-- Navigation -->
    <nav class="navbar navbar-expand-lg navbar-dark bg-dark fixed-top">
      <div class="container">
        <a class="navbar-brand" href="index.html">Fake News | 
          <small> The Most Unreliable News Source in the World</small>
        </a>
        <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarResponsive" aria-controls="navbarResponsive" aria-expanded="false" aria-label="Toggle navigation">
          <span class="navbar-toggler-icon"></span>
        </button>
        <div class="collapse navbar-collapse" id="navbarResponsive">
          <ul class="navbar-nav ml-auto">
            <li class="nav-item">
              <a class="nav-link" href="index.html">Home</a>
            </li>
            <li class="nav-item active">
              <a class="nav-link" href="#">Create Post
                <span class="sr-only">(current)</span>
              </a>
          </ul>
        </div>
    </div>
    </nav>

    <!-- Page Content -->
    <div class="container">

      <!-- Portfolio Item Heading -->
      <h1 class="my-4">Fake Headline</h1>

      <!-- Portfolio Item Row -->
      <div class="row"  ng-app="submission" ng-controller="MainCtrl" id="thingie">

        <div class="col-md-8">
          <h3><small>Person:</small></h3><input id="person" type="text" placeholder="Enter a random person" ng-model="random_name" ng-change="makePost()"/><br><br>
          <h3><small>Place:</small></h3><input id="place" type="text" placeholder="Enter a random place" ng-model="random_place" ng-change="makePost()"/><br><br>
          <h3><small>Object:</small></h3><input id="object" type="text" placeholder="Enter a random object" ng-model="random_object" ng-change="makePost()"/><br><br>
          <h3><small>Verb:</small></h3><input id="verb" type="text" placeholder="Enter a random verb" ng-model="random_verb" ng-change="makePost()"/><br><br>
          <h3><small>Image URL:</small></h3><input id="img" type="text" placeholder="Enter an image URL for your article thumbnail" ng-model="random_img" ng-change="makeImage()"/><br><br>
          <br>
          <!--<button class="btn btn-info btn-md" id="prev_btn" type="submit">Preview Post</button>-->
          <button ng-click="randomize()" class="btn btn-danger btn-md" id="submit_btn" type="submit">Randomize the Fields!</button>
        </div>

        <div class="col-md-4">
          <form>
            <button ng-click="submitPost()" class="btn btn-success btn-md" id="submit_btn" type="submit">Submit Post</button>
            <br>
            <small>Before you click submit, feel free to edit the post below!</small>
            <br>
            <h3 class="my-3" style="text-align:center">Fake Article Preview</h3>
            <h4><textarea class="headline" placeholder="Your Headline" ng-model="headline"></textarea></h4>
            <img ng-src="{{random_img}}" style="width:100%;height:auto;"/>
            <br><br>
            <textarea class="description" placeholder="Your Description" ng-model="description"></textarea>
          </form>  
        </div>

      </div>
      <!-- /.row -->

    </div>
    <!-- /.container -->

    <!-- Footer -->
    <div class="div3">
        <footer class="py-5 bg-dark">
        <div class="container">
        <p class="m-0 text-center text-white">Copyright &copy; Fake News Inc 2017</p>
        </div>
        <!-- /.container -->
        </footer>
    </div>
      <!-- /.container -->

    <!-- Bootstrap core JavaScript -->
    <script src="vendor/jquery/jquery.min.js"></script>
    <script src="vendor/bootstrap/js/bootstrap.bundle.min.js"></script>

  </body>

</html>